@import url("../../../App.css");
button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  /* padding: 10px 20px; */
  border-radius: 8px;
}

.primary {
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.outline {
  background-color: transparent;
  border: 2px solid var(--tertiary-color);
  color: var(--background-color);
}

.error {
  border: none;
  background-color: var(--quaternary-color);
  border-radius: 8px;
  color: var(--quaternary-color);
}

.large {
  font-size: 16px;
}

.medium {
  font-size: 12px;
}

.small {
  font-size: 10px;
}
