@import url("../../../App.css");

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px #dddddd solid;
  text-align: left;
  padding: 8px;
}

.striped:nth-child(even) {
  background-color: #dddddd;
}
.hover:hover {
  background-color: #61dafb;
}

td .child-td.quantity {
  border: 1px solid var(--senary-color);
  border-radius: 8px;
  text-align: center;
  width: 57px;
  padding: 4px;
}
