@import url("../../../App.css");

.btn-action-confirm {
  display: flex;
  margin: 10px 0;
  gap: 40px;
}

.btn-confirm {
  flex: 1;
  padding: 14px;
  color: var(--primary-color);
}

.btn-cancel {
  flex: 1;
  padding: 14px;
}
