@import url("../../../App.css");
.button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    /* padding: 10px 20px; */
    border-radius: 5px;
  }
  
  .primary {
    background-color: var(--tertiary-color);
    color: var(--tertiary-color);
  }
  
  .outline {
    background-color: transparent;
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
  }
  
  .error {
    background-color: var(--quaternary-color);
    color: var(--quaternary-color);
  }
  
  .large {
    font-size: 16px;
  }
  
  .medium {
    font-size: 12px;
  }
  
  .small {
    font-size: 10px;
  }
  