.wrapper{
    max-width: 932px;
    margin: 100px auto ;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

form{
    flex: 2;
}

.img-detail{
    width: 380px;
    height: 380px;
}

.brand-image{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.input-brand{
    flex: 1;
    width: 20%;
}

.input-image{
    flex: 1;
    width: 20%;
}