.input-action{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.select{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.submit-btn{
    margin-right: 4px;
    padding: 10px 18px;
}

.cancel-btn{
    padding: 10px 18px;
}
