:root {
  --primary-color: #ffffff;
  --secondary-color: #00072b;
  --tertiary-color: #7fc008;
  --quaternary-color: #db303f;
  --quinary-color: #000000;
  --senary-color: #d0d5dd;
  --background-color: #f2f2f2;
  --text-color: #0c0033;
}
